.homebanner {
	position: absolute;
	float: right;
	top: 15px;
	left:725px;
}

.imagealign1 {
	position: relative;
	float: right;
	top: -1550px;
	right: 40px;
	max-width: 100%;
	height: auto;
}

.subalign1 {
	position: relative;
	float: left;
	top: 375px;
	max-width: 100%;
	height: auto;
}

.subalign2 {
	position: relative;
	float: left;
	top: 590px;
	max-width: 100%;
	height: auto;
}

.subalign3 {
	position: relative;
	float: left;
	top: 790px;
	max-width: 100%;
	height: auto;
}

#iconalign1 {
	position: relative;
	left: 25px;
	top: 35px;
}

#locatortext {
	margin: 10px;
}

#locator1 {
	position: relative;
	float: right;
	bottom: 1125px;
	right: -200px;
	z-index: 1;
	visibility: show;"
}

#textbox1 {
	background:#54b9f8;
	color:#111;
	padding: 25px;
	position: relative;
	top: -950px; 
	left: 550px;
	min-width: 150px;
	max-width: 500px;
}

#abouttext {
	background:#54b9f8;
	color:#F0FFFF;
	padding: 25px;
	position: relative;
	top: -175px;
	left: 250px;
	width: 550px;
	text-shadow: -1px 1px 0 #037CC8,
				 1px 1px 0 #037CC8,
				 1px -1px 0 #037CC8,
				 -1px -1px 0 #037CC8,
				 2px 2px 5px black;
}