/* Primary Image and Banner Alignment Classes */

.homebanner {
	position: absolute;
	float: right;
	top: 15px;
	left:725px;
}

.imagealign1 {
	position: relative;
	float: right;
	top: 25px;
	right: 100px;
	max-width: 100%;
	height: auto;
}

.imagealignalt1 {
	position: relative;
	float: right;
	top: -325px;
	right: 50px;
	max-width: 100%;
	height: auto;
}

.subalign1 {
	position: relative;
	float: left;
	top: 375px;
	max-width: 100%;
	height: auto;
}

.subalign2 {
	position: relative;
	float: left;
	top: 590px;
	max-width: 100%;
	height: auto;
}

.subalign3 {
	position: relative;
	float: left;
	top: 790px;
	max-width: 100%;
	height: auto;
}

/* Text, Text Wrap and Icon Alignment Classes */

#abouttext {
	background:#54b9f8;
	color:#F0FFFF;
	padding: 25px;
	position: relative;
	top: -175px;
	left: 250px;
	max-width: 550px;
	text-shadow: -1px 1px 0 #037CC8,
				 1px 1px 0 #037CC8,
				 1px -1px 0 #037CC8,
				 -1px -1px 0 #037CC8,
				 2px 2px 5px black;
}

#iconalign1 {
	position: relative;
	left: 25px;
	top: 35px;
}

#imgwrap {
	float: right;
	padding: 15px;
}

#locatortext {
	margin: 10px;
}

#locator1 {
	position: relative;
	float: right;
	top: 450px;
	right: -140px;
	z-index: 1;
}

#textbox1 {
	background:#54b9f8;
	color:#111;
	padding: 25px;
	position: relative;
	top: -950px; 
	left: 550px;
	min-width: 150px;
	max-width: 450px;
}

#textboxalt {
	background: #54b9f8;
	color: #111;
	padding: 25px;
	position: relative;
	top: -675px;
	left: 550px;
	min-width: 150px;
	max-width: 500px;
}