/*SET UP*/

html {
	scroll-behavior: smooth;
	text-size-adjust: 135%;
}

body {
	background: linear-gradient(to bottom, #87CEFA, #AFEEEE);
	font-family: calibri;
	font-size: 18px;
	color:#222;
	margin: 0;
	padding: 0
}

::-webkit-scrollbar {
	width: 10px;
	height: auto;
}

::-webkit-scrollbar-track {
	background: #a7d4d4;
	border-radius: 10px;
	margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(#483D8B, #037CC8);
	border-radius: 10px;
}

/*OTHER FUNCTIONS*/

.secondary {
	background:#54b9f8;
	color:#111;
	padding: 25px;
	min-width: 300px;
	max-width: 750px;
	margin: 10px;
	outline: 2px solid #E0FFFF;
	outline-offset: -6px;
}	

.main {
	opacity: 0;
	display: none;
	transition: opacity 1s ease-in;
}

.aboutus {
	max-width: 1250px;
}

#textbox {
	font-size: 35px;
	color: #F0FFFF;
	padding: 5px;
	margin: 10px 700px 0px 0px;
	text-shadow: -1px 1px 0 #037CC8,
				 1px 1px 0 #037CC8,
				 1px -1px 0 #037CC8,
				 -1px -1px 0 #037CC8,
				 2px 2px 5px black;
	text-align: center;
}

.headercolour {
	background: linear-gradient(to bottom right,#A7C7D2,#00ace6);
	width: 100%;
	margin: 0;
	padding: 0;
}

.navhome li {
  display: inline;
}

.navhome a {
  color: #483D8B;
  font-size: 20px;
  font-weight: bold;
  text-size-adjust: 110%;
  padding: 3px 3px;
}

.navhome {
  position: absolute;
  top: 175px;
}

#lang-toggle {
	position: relative;
	float: right;
	padding: 10px;
	top: -240px;
	margin-right: 25px;
}

#lang-toggle1 {
	position: absolute;
	float: right;
	padding: 10px;
	top: -5px;
	right: 20px;
}

/*SIDEBAR NAVIGATION*/

.homesidebar {
	background: #54b9f8;
	position: relative;
	float: right;
	top: 0px;
	right: 130px;
	max-width: 155px;
	outline: 2px solid #E0FFFF;
	outline-offset: -6px;

	font-size: 18px;
	width: 120px;
	text-align: center;
	color: #FFFFFF;
	padding: 10px;
	margin: 7px 0px 0px 0px;
	text-shadow: -1px 1px 0 #037CC8, 
				1px 1px 0 #037CC8, 
				1px -1px 0 #037CC8, 
				-1px -1px 0 #037CC8, 
				1px 1px 5px black;
	text-size-adjust: 135%;
}

#homebarlist {
	position: relative;
	float: right;
	top: 60px;
	right: -100px;
	padding: 5px;
	font-size: 16px;
	line-height: 1.25;
	text-size-adjust: 135%;
}

#homebarlistesp {
	position: relative;
	float: right;
	top: 60px;
	right: -100px;
	padding: 5px;
	font-size: 16px;
	line-height: 1.25;
	text-size-adjust: 135%;
}

/*FLEXBOX*/

#faq {
	display: flex;
	height: 75%;
    justify-content: center;
	z-index: 1;
}

#faq1 {
	text-align: center;
	color:black;
    margin: 10px;
	padding: 10px;
    background-color: #54b9f8;
    width: 25%;
    height: 425px;
    outline: 2px dashed #F0F8FF;
    outline-offset: -4px;
	z-index: 1;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 540vw) {
	#faq1 {
		height: auto;
		text-size-adjust: 135%;
	}	
}


/*TEXT AND LIST STYLING*/

h1, h3, h4 {
	color: black;
	text-shadow: 2px 2px 5px white;
}

ul { 
	list-style: circle;
	list-style-position: inside;
	text-align:left;
	line-height: 1.25;
}

ol {
	list-style-position: inside;
	text-align: left;
}