/*SET UP*/

html {
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(to bottom, #87CEFA, #AFEEEE);
	font-family: calibri;
	font-size: 18px;
	color:#222;
	margin: 0;
	padding: 0
}

::-webkit-scrollbar {
	width: 10px;
	height: auto;
}

::-webkit-scrollbar-track {
	background: #a7d4d4;
	border-radius: 10px;
	margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(#483D8B, #037CC8);
	border-radius: 10px;
}

/*OTHER FUNCTIONS*/

.secondary {
	background:#54b9f8;
	color:#111;
	padding: 25px;
	min-width: 300px;
	max-width: 750px;
	margin: 10px;
	outline: 2px solid #E0FFFF;
	outline-offset: -6px;
}	

.main {
	opacity: 0;
	display: none;
	transition: opacity 1s ease-in;
}

#textbox {
	font-size: 35px;
	color: #F0FFFF;
	padding: 5px;
	margin: 10px 700px 0px 0px;
	text-shadow: -1px 1px 0 #037CC8,
				 1px 1px 0 #037CC8,
				 1px -1px 0 #037CC8,
				 -1px -1px 0 #037CC8,
				 2px 2px 5px black;
	text-align: center;
}

.headercolour {
	background: linear-gradient(to bottom right,#A7C7D2,#00ace6);
	width: 100%;
	margin: 0;
	padding: 0;
}

.navhome li {
  display: inline;
}

.navhome a {
  color: #483D8B;
  font-size: 20px;
  font-weight: bold;
  text-size-adjust: 110%;
  padding: 3px 3px;
}

.navhome {
  position: absolute;
  top: 175px;
}

/*SIDEBAR NAVIGATION*/

.box {
	background: #54b9f8;
	position: relative;
	float: right;
	top: 0px;
	right: 125px;
	max-width: 155px;
	outline: 2px solid #E0FFFF;
	outline-offset: -6px;
}

.homesidebar {
	max-width: 120px;
	font-size: 18px;
	text-size-adjust: 135%;
	color: #FFFFFF;
	padding: 10px;
	margin: 7px 0px 0px 0px;
	text-shadow: -1px 1px 0 #037CC8, 
				1px 1px 0 #037CC8, 
				1px -1px 0 #037CC8, 
				-1px -1px 0 #037CC8, 
				1px 1px 5px black;
}

#homebarlist {
	position: relative;
	float: right;
	top: 40px;
	right: -100px;
	padding: 5px;
	font-size: 16px;
	text-size-adjust: 135%;
	line-height: 1.25;
}

/*TEXT AND LIST STYLING*/

h1, h3, h4 {
	color: black;
	text-shadow: 2px 2px 5px white;
}

ul { list-style: circle;}