:root {
	--aspect-ratio: 900/600;
	--width: auto;
}

/*WAVES SVG PLACEMENT*/
.waves {
	aspect-ratio: var(--aspect-ratio);
	width: var(--width);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: -1;
}

.footerwaves {
	background-image: url('Website Assets/bbwavesfooter.svg');
}

.footerwavesesp {
	background-image: url('Website Assets/bbwavesfooteresp.svg');
}

/*MEDIA QUERIES FOR WAVE SVGS*/
@media only screen and (max-width: 600px) {
	.waves {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.waves {
		display: none;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.waves {
		display: none;
	}
}