/*IDs*/
#contactform {
    margin: 10px;
}

/*Classes*/
.formbox {
    border-radius: 5px;
    padding: 10px;
    max-width: 600px;
  }

/*Input Box Settings*/
input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 10px;
    font-family: calibri;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;  
}
  
  input[type=submit] {
    background-color: #00ACE6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #037CC8;
  }

/*Media Queries*/
@media (prefers-reduced-motion: reduce) {
    input[type=submit] {
        transition: none;
    }
}